body{
    background-color: whitesmoke;
}
.navbar{
    background-color: whitesmoke;
}
.card{
    background-color: aliceblue;
}
.card-header{
    background-color: rgb(255, 255, 255);
}
.input-group{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#inputBtn{
    background-color: seashell;
}
#restoBtn{
    background-color: antiquewhite;
}